# Overfitting'i Önlemek İçin Erken Durdurma

<img src="overfit.jpg"/>
<center><b>Kaynak : https://www.veribilimiokulu.com/blog/overfitting/</b></center>

 <img src='variancebias.png'/>
 <center><b>Kaynak : https://medium.com/datarunner/bias-ve-varyans-dengesi-%C3%BCzerinden-overfitting-ve-underfitting-durumlar%C4%B1n%C4%B1n-anla%C5%9F%C4%B1lmas%C4%B1-ca26cea65bb4#:~:text=Bias%3A%20Hata%2Fyanl%C4%B1l%C4%B1k%2Fsapma,nas%C4%B1l%20yay%C4%B1ld%C4%B1%C4%9F%C4%B1n%C4%B1%20bize%20g%C3%B6steren%20de%C4%9Ferdir.</b></center>

Modelleme yapılacak veri kümesini 2 gruba ayırmakta fayda vardır.
<li>Eğitim Seti</li>
<li>Test Seti</li>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [2]:
df_iris = pd.read_csv('https://data.heatonresearch.com/data/t81-558/iris.csv', 
                na_values =[ 'NA', '?'])
df_iris.head()

   sepal_l  sepal_w  petal_l  petal_w      species
0      5.1      3.5      1.4      0.2  Iris-setosa
1      4.9      3.0      1.4      0.2  Iris-setosa
2      4.7      3.2      1.3      0.2  Iris-setosa
3      4.6      3.1      1.5      0.2  Iris-setosa
4      5.0      3.6      1.4      0.2  Iris-setosa

In [4]:
X = df_iris.iloc[:, 0:4].values
y = pd.get_dummies(df_iris['species']).values
cesitler = pd.get_dummies(df_iris['species']).columns
cesitler

Index(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype='object')

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15)

In [6]:
model_iris = Sequential()
model_iris.add(Dense(50, input_dim=X.shape[1], activation='relu'))
model_iris.add(Dense(25, activation='relu'))
model_iris.add(Dense(y.shape[1], activation='softmax'))

In [7]:
model_iris.compile(loss='categorical_crossentropy', optimizer='adam')

In [8]:
monitoring = EarlyStopping(monitor='val_loss', min_delta=1e-3, patience=5, verbose=1,
                          mode='auto', restore_best_weights=True)

In [9]:
model_iris.fit(X_train, y_train, validation_data=(X_test, y_test), callbacks=[monitoring], verbose=2, 
               epochs=1000)

Epoch 1/1000
4/4 - 0s - loss: 1.1119 - val_loss: 0.9636
Epoch 2/1000
4/4 - 0s - loss: 0.9656 - val_loss: 0.8987
Epoch 3/1000
4/4 - 0s - loss: 0.8927 - val_loss: 0.8715
Epoch 4/1000
4/4 - 0s - loss: 0.8470 - val_loss: 0.8562
Epoch 5/1000
4/4 - 0s - loss: 0.8043 - val_loss: 0.8259
Epoch 6/1000
4/4 - 0s - loss: 0.7602 - val_loss: 0.7809
Epoch 7/1000
4/4 - 0s - loss: 0.7128 - val_loss: 0.7415
Epoch 8/1000
4/4 - 0s - loss: 0.6751 - val_loss: 0.7057
Epoch 9/1000
4/4 - 0s - loss: 0.6424 - val_loss: 0.6762
Epoch 10/1000
4/4 - 0s - loss: 0.6123 - val_loss: 0.6507
Epoch 11/1000
4/4 - 0s - loss: 0.5833 - val_loss: 0.6251
Epoch 12/1000
4/4 - 0s - loss: 0.5569 - val_loss: 0.6078
Epoch 13/1000
4/4 - 0s - loss: 0.5344 - val_loss: 0.5868
Epoch 14/1000
4/4 - 0s - loss: 0.5130 - val_loss: 0.5644
Epoch 15/1000
4/4 - 0s - loss: 0.4926 - val_loss: 0.5429
Epoch 16/1000
4/4 - 0s - loss: 0.4744 - val_loss: 0.5240
Epoch 17/1000
4/4 - 0s - loss: 0.4575 - val_loss: 0.5022
Epoch 18/1000
4/4 - 0s - loss: 0.4415 - val_loss: 0.4843
Epoch 19/1000
4/4 - 0s - loss: 0.4265 - val_loss: 0.4684
Epoch 20/1000
4/4 - 0s - loss: 0.4128 - val_loss: 0.4532
Epoch 21/1000
4/4 - 0s - loss: 0.3978 - val_loss: 0.4401
Epoch 22/1000
4/4 - 0s - loss: 0.3863 - val_loss: 0.4285
Epoch 23/1000
4/4 - 0s - loss: 0.3749 - val_loss: 0.4099
Epoch 24/1000
4/4 - 0s - loss: 0.3644 - val_loss: 0.3973
Epoch 25/1000
4/4 - 0s - loss: 0.3532 - val_loss: 0.3900
Epoch 26/1000
4/4 - 0s - loss: 0.3426 - val_loss: 0.3775
Epoch 27/1000
4/4 - 0s - loss: 0.3355 - val_loss: 0.3604
Epoch 28/1000
4/4 - 0s - loss: 0.3216 - val_loss: 0.3547
Epoch 29/1000
4/4 - 0s - loss: 0.3138 - val_loss: 0.3470
Epoch 30/1000
4/4 - 0s - loss: 0.3072 - val_loss: 0.3307
Epoch 31/1000
4/4 - 0s - loss: 0.2973 - val_loss: 0.3205
Epoch 32/1000
4/4 - 0s - loss: 0.2898 - val_loss: 0.3102
Epoch 33/1000
4/4 - 0s - loss: 0.2817 - val_loss: 0.3052
Epoch 34/1000
4/4 - 0s - loss: 0.2751 - val_loss: 0.2978
Epoch 35/1000
4/4 - 0s - loss: 0.2677 - val_loss: 0.2862
Epoch 36/1000
4/4 - 0s - loss: 0.2611 - val_loss: 0.2768
Epoch 37/1000
4/4 - 0s - loss: 0.2559 - val_loss: 0.2682
Epoch 38/1000
4/4 - 0s - loss: 0.2502 - val_loss: 0.2653
Epoch 39/1000
4/4 - 0s - loss: 0.2424 - val_loss: 0.2555
Epoch 40/1000
4/4 - 0s - loss: 0.2389 - val_loss: 0.2448
Epoch 41/1000
4/4 - 0s - loss: 0.2328 - val_loss: 0.2421
Epoch 42/1000
4/4 - 0s - loss: 0.2251 - val_loss: 0.2333
Epoch 43/1000
4/4 - 0s - loss: 0.2202 - val_loss: 0.2238
Epoch 44/1000
4/4 - 0s - loss: 0.2165 - val_loss: 0.2208
Epoch 45/1000
4/4 - 0s - loss: 0.2113 - val_loss: 0.2118
Epoch 46/1000
4/4 - 0s - loss: 0.2051 - val_loss: 0.2087
Epoch 47/1000
4/4 - 0s - loss: 0.2000 - val_loss: 0.2043
Epoch 48/1000
4/4 - 0s - loss: 0.1962 - val_loss: 0.1975
Epoch 49/1000
4/4 - 0s - loss: 0.1918 - val_loss: 0.1922
Epoch 50/1000
4/4 - 0s - loss: 0.1880 - val_loss: 0.1878
Epoch 51/1000
4/4 - 0s - loss: 0.1832 - val_loss: 0.1853
Epoch 52/1000
4/4 - 0s - loss: 0.1832 - val_loss: 0.1814
Epoch 53/1000
4/4 - 0s - loss: 0.1785 - val_loss: 0.1734
Epoch 54/1000
4/4 - 0s - loss: 0.1737 - val_loss: 0.1698
Epoch 55/1000
4/4 - 0s - loss: 0.1696 - val_loss: 0.1662
Epoch 56/1000
4/4 - 0s - loss: 0.1667 - val_loss: 0.1617
Epoch 57/1000
4/4 - 0s - loss: 0.1633 - val_loss: 0.1578
Epoch 58/1000
4/4 - 0s - loss: 0.1626 - val_loss: 0.1547
Epoch 59/1000
4/4 - 0s - loss: 0.1579 - val_loss: 0.1508
Epoch 60/1000
4/4 - 0s - loss: 0.1554 - val_loss: 0.1476
Epoch 61/1000
4/4 - 0s - loss: 0.1520 - val_loss: 0.1455
Epoch 62/1000
4/4 - 0s - loss: 0.1541 - val_loss: 0.1426
Epoch 63/1000
4/4 - 0s - loss: 0.1487 - val_loss: 0.1393
Epoch 64/1000
4/4 - 0s - loss: 0.1463 - val_loss: 0.1357
Epoch 65/1000
4/4 - 0s - loss: 0.1432 - val_loss: 0.1339
Epoch 66/1000
4/4 - 0s - loss: 0.1423 - val_loss: 0.1308
Epoch 67/1000
4/4 - 0s - loss: 0.1404 - val_loss: 0.1279
Epoch 68/1000
4/4 - 0s - loss: 0.1379 - val_loss: 0.1261
Epoch 69/1000
4/4 - 0s - loss: 0.1349 - val_loss: 0.1233
Epoch 70/1000
4/4 - 0s - loss: 0.1329 - val_loss: 0.1214
Epoch 71/1000
4/4 - 0s - loss: 0.1315 - val_loss: 0.1193
Epoch 72/1000
4/4 - 0s - loss: 0.1321 - val_loss: 0.1171
Epoch 73/1000
4/4 - 0s - loss: 0.1280 - val_loss: 0.1148
Epoch 74/1000
4/4 - 0s - loss: 0.1286 - val_loss: 0.1145
Epoch 75/1000
4/4 - 0s - loss: 0.1252 - val_loss: 0.1110
Epoch 76/1000
4/4 - 0s - loss: 0.1235 - val_loss: 0.1091
Epoch 77/1000
4/4 - 0s - loss: 0.1273 - val_loss: 0.1076
Epoch 78/1000
4/4 - 0s - loss: 0.1183 - val_loss: 0.1095
Epoch 79/1000
4/4 - 0s - loss: 0.1254 - val_loss: 0.1092
Epoch 80/1000
4/4 - 0s - loss: 0.1191 - val_loss: 0.1023
Epoch 81/1000
4/4 - 0s - loss: 0.1190 - val_loss: 0.1020
Epoch 82/1000
4/4 - 0s - loss: 0.1185 - val_loss: 0.1006
Epoch 83/1000
4/4 - 0s - loss: 0.1171 - val_loss: 0.1000
Epoch 84/1000
4/4 - 0s - loss: 0.1140 - val_loss: 0.0969
Epoch 85/1000
4/4 - 0s - loss: 0.1146 - val_loss: 0.0949
Epoch 86/1000
4/4 - 0s - loss: 0.1110 - val_loss: 0.0944
Epoch 87/1000
4/4 - 0s - loss: 0.1096 - val_loss: 0.0934
Epoch 88/1000
4/4 - 0s - loss: 0.1125 - val_loss: 0.0913
Epoch 89/1000
4/4 - 0s - loss: 0.1076 - val_loss: 0.0925
Epoch 90/1000
4/4 - 0s - loss: 0.1089 - val_loss: 0.0915
Epoch 91/1000
4/4 - 0s - loss: 0.1089 - val_loss: 0.0874
Epoch 92/1000
4/4 - 0s - loss: 0.1064 - val_loss: 0.0864
Epoch 93/1000
4/4 - 0s - loss: 0.1068 - val_loss: 0.0872
Epoch 94/1000
4/4 - 0s - loss: 0.1039 - val_loss: 0.0841
Epoch 95/1000
4/4 - 0s - loss: 0.1037 - val_loss: 0.0839
Epoch 96/1000
4/4 - 0s - loss: 0.1018 - val_loss: 0.0827
Epoch 97/1000
4/4 - 0s - loss: 0.1030 - val_loss: 0.0810
Epoch 98/1000
4/4 - 0s - loss: 0.1011 - val_loss: 0.0823
Epoch 99/1000
4/4 - 0s - loss: 0.1002 - val_loss: 0.0826
Epoch 100/1000
4/4 - 0s - loss: 0.0991 - val_loss: 0.0785
Epoch 101/1000
4/4 - 0s - loss: 0.1017 - val_loss: 0.0770
Epoch 102/1000
4/4 - 0s - loss: 0.0972 - val_loss: 0.0795
Epoch 103/1000
4/4 - 0s - loss: 0.0982 - val_loss: 0.0810
Epoch 104/1000
4/4 - 0s - loss: 0.0974 - val_loss: 0.0748
Epoch 105/1000
4/4 - 0s - loss: 0.0959 - val_loss: 0.0740
Epoch 106/1000
4/4 - 0s - loss: 0.0965 - val_loss: 0.0732
Epoch 107/1000
4/4 - 0s - loss: 0.0939 - val_loss: 0.0785
Epoch 108/1000
4/4 - 0s - loss: 0.0979 - val_loss: 0.0779
Epoch 109/1000
4/4 - 0s - loss: 0.0933 - val_loss: 0.0703
Epoch 110/1000
4/4 - 0s - loss: 0.0961 - val_loss: 0.0695
Epoch 111/1000
4/4 - 0s - loss: 0.0919 - val_loss: 0.0725
Epoch 112/1000
4/4 - 0s - loss: 0.0916 - val_loss: 0.0769
Epoch 113/1000
4/4 - 0s - loss: 0.0936 - val_loss: 0.0725
Epoch 114/1000
4/4 - 0s - loss: 0.0925 - val_loss: 0.0666
Epoch 115/1000
4/4 - 0s - loss: 0.0930 - val_loss: 0.0677
Epoch 116/1000
4/4 - 0s - loss: 0.0906 - val_loss: 0.0701
Epoch 117/1000
4/4 - 0s - loss: 0.0902 - val_loss: 0.0680
Epoch 118/1000
4/4 - 0s - loss: 0.0888 - val_loss: 0.0647
Epoch 119/1000
4/4 - 0s - loss: 0.0890 - val_loss: 0.0653
Epoch 120/1000
4/4 - 0s - loss: 0.0875 - val_loss: 0.0659
Epoch 121/1000
4/4 - 0s - loss: 0.0906 - val_loss: 0.0679
Epoch 122/1000
4/4 - 0s - loss: 0.0860 - val_loss: 0.0625
Epoch 123/1000
4/4 - 0s - loss: 0.0882 - val_loss: 0.0620
Epoch 124/1000
4/4 - 0s - loss: 0.0861 - val_loss: 0.0653
Epoch 125/1000
4/4 - 0s - loss: 0.0862 - val_loss: 0.0645
Epoch 126/1000
4/4 - 0s - loss: 0.0860 - val_loss: 0.0675
Epoch 127/1000
4/4 - 0s - loss: 0.0938 - val_loss: 0.0598
Epoch 128/1000
4/4 - 0s - loss: 0.0867 - val_loss: 0.0621
Epoch 129/1000
4/4 - 0s - loss: 0.0905 - val_loss: 0.0787
Epoch 130/1000
4/4 - 0s - loss: 0.0902 - val_loss: 0.0647
Epoch 131/1000
4/4 - 0s - loss: 0.0799 - val_loss: 0.0566
Epoch 132/1000
4/4 - 0s - loss: 0.0880 - val_loss: 0.0563
Epoch 133/1000
4/4 - 0s - loss: 0.0873 - val_loss: 0.0622
Epoch 134/1000
4/4 - 0s - loss: 0.0839 - val_loss: 0.0602
Epoch 135/1000
4/4 - 0s - loss: 0.0836 - val_loss: 0.0624
Epoch 136/1000
Restoring model weights from the end of the best epoch.
4/4 - 0s - loss: 0.0822 - val_loss: 0.0613
Epoch 00136: early stopping

<b>monitor :</b> İzlenecek nicelik

<b> min_delta : </b> Bu değer küçük tutulmalıdır. İyileştirme olarak nitelendirilmesi için izlenen miktardaki minimum değişiklik, yani min_delta'dan daha düşük bir mutlak değişiklik, iyileşme yok sayılacaktır.</br>

<b> patience :</b> İyileştirme olmayan kaç epoch sonunda eğitim durudurulacak. </br>

<b> mode :</b> "auto", "min", "max" değerlerinden birini alabilir. "min" modunda, izlenen miktar azalmayı bıraktığında eğitim duracaktır; "max" modunda, izlenen miktar artmayı durdurduğunda duracaktır; "otomatik" modda, yön, izlenen miktarın adından otomatik olarak çıkarılır. </br>

<b>restore_best_weights : </b> Her zaman True olarak belirlenmelidir. İzlenen miktarın en iyi değeriyle ilgili epoch'tan geri yüklenip geri yüklenmeyeceğini belirlemeyi sağlar. False ise eğitimin son aşamasında elde edilen model ağırlıkları kullanılır.

In [10]:
from sklearn.metrics import accuracy_score
import numpy as np

In [14]:
prediction = model_iris.predict(X_test)
prediction_classes = np.argmax(prediction, axis=1)
real_classes = np.argmax(y_test, axis=1)
correction_rate = accuracy_score(real_classes, prediction_classes)
correction_rate

1.0

# Network'ten Ağırlıkları Çıkarma ve Manuel Sonuç Hesaplama

In [18]:
# Weight Initalization

Bir sinir ağının ağırlıkları, sinir ağı için çıktıyı belirlemektedir. Eğitim süreci bu ağırlıkların uygun 
olmasını sağlar. Sinir ağları eğitime ağırlıkları, rastgele bir şekilde belirleyerek başlar. Daha sonra
ağırlıklar her epochda update edilir.</b>

Bir sinir ağının rastgele olarak belirlenen ağırlıkları, o ağın ne kadar iyi eğitilebileceğini etkiler. Bir sinir ağı iyi eğitilemiyorsa, yeni bir rastgele ağırlık setiyle eğitmek bir çözüm olarak denenebilir. Bununla birlikte, bir sinir ağının mimarisini farklı gizli katman ve nöron kombinasyonları ile denemek çok uzun zaman alır ve yorucu olur. Yeni bir katman eklenmesi ve ağın performansın iyileşmesi durumunda, bu iyileşmenin yeni katmandan mı yoksa yeni ağırlık kümesinden mi kaynaklandığı araştırılmalıdır. Bu belirsizlik nedeniyle, ağırlık başlatma algoritmasında iki temel soruya cevap aranır:</br>

<li>Algoritma ne kadar tutarlı bir şekilde iyi ağırlıklar sağlıyor?</li>
<li>Algoritmanın sağladığı ağırlıklar ne kadar avantaj sağlıyor?</li>

Ağırlık başlatmaya yönelik en yaygın, ancak en az etkili yaklaşımlardan biri, ağırlıkları belirli bir aralıktaki rastgele değerlere ayarlamaktır. Genellikle -1 ile +1 veya -5 ile +5 arasındaki sayılar seçilir. Her seferinde aynı rastgele ağırlık setinin kullanıldığından emin olunmak isteniorsa, seed değeri kullanılmalıdır. </br>

Rastgele ağırlık başlatma ile ilgili bir problem, bazı seed değerleri tarafından oluşturulan rastgele ağırlıkların eğitilmesinin diğerlerinden çok daha zor olmasıdır. Bazı durumlarda, ağırlıklar o kadar kötü olabilir ki eğitim imkansızdır. Belirli bir ağırlık setiyle bir sinir ağının eğitilemeyeceği fark edilirse, farklı bir seed değeri kullanılarak yeni bir ağırlık seti oluşturulmalıdır.</br>

Weight Initialization problemi için çeşitli araştırmalar yapılmaktadır. Bu araştırmalardan biri (Glorot, X., and Bengio, Y. Understanding the difficulty of training deep feedforward neural net-
works. In Proceedings of the thirteenth international conference on artificial intelligence and statistics
(2010), pp. 249–256.) çalışmada tanıtılan Xavier weight initialization algoritmasıdır. Bu algoritma, kabul edilebilir tutarlılıkta iyi ağırlıklar üretmektedir ve normal olarak dağıtılmış rasgele sayılar kullanır.</br>

Xavier weight initialization algoritmasını kullanırken, normal olarak dağılan rasgele sayıların, çoğu programlama dilinin ürettiği 0 ile 1 arasındaki tipik rasgele sayılar olmadığını bilmek gerekmektedir.Normal dağılımda üretilen sayılar ortalamanın minimum -3 standart sapma altında veya maksimum +3 standart sapma üstünde olabilir. </br>


<img src='normaldist.png'/>
<center><b>Kaynak : https://aakinshin.net/posts/normality/</b></center>

 Xavier weight initialization tüm ağırlıkları normal olarak dağıtılmış rastgele sayılara ayarlar. Bu ağırlıklar ortalaması her zaman 0'dır. Ancak standart sapma, mevcut ağırlık katmanı için kaç bağlantı bulunduğuna bağlı olarak değişir. Aşağıdaki denklemle hesaplanabilir.
 
 <img src='variance.png'/>
 
Yukarıdaki denklem, tüm ağırlıklar için varyansın nasıl elde edileceğini gösterir. Varyansın karekökü standart sapmadır.Bu işlem sinir ağındaki her katman için tamamlanır.

<img src='examplevar.png'/>
<center><b>Kaynak : Jeff Heaton, Applications of Deep Neural Networks</b></center>

# XOR Probleminin NN ile Çözümü

In [15]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import numpy as np

In [16]:
X = np.array([[0, 0], [1, 0], [0, 1], [1, 1]])

In [17]:
y = np.array([0, 1, 1, 0])

In [1]:
done = False
epochs = 1

while not done:
    print(f"{epochs}. iteration")
    epochs += 1
    model_xor = Sequential()
    model_xor.add(Dense(2, input_dim=2, activation='relu'))
    model_xor.add(Dense(1, activation='linear'))
    model_xor.compile(loss='mean_squared_error', optimizer='adam')
    model_xor.fit(X, y, verbose=0, epochs=10000)
    
    predict = model_xor.predict(X)
    done = predict[0] < 0.01 and predict[3] < 0.01 and predict[1] > 0.9 and predict[2] > 0.9
    print(predict)

1. iteration

NameError: name 'Sequential' is not defined

In [8]:
# ağılıklar alınıyor
for layer_number, layer in enumerate(model_xor.layers):
    weights = layer.get_weights()[0]
    biases = layer.get_weights()[1]
    
    for to_neuron_number, bias in enumerate(biases):
        print(f'{layer_number}B ->\t L{layer_number + 1}N{to_neuron_number}:{bias}')
    
    for from_neuron_number, weight in enumerate(weights):
        for to_neuron_number, weight2 in enumerate(weight):
            print(f'L{layer_number}N{from_neuron_number}\t -> L{layer_number + 1}N{to_neuron_number} = {weight2}')

0B ->	 L1N0:-9.16545204177055e-08
0B ->	 L1N1:-1.6095487609391057e-08
L0N0	 -> L1N0 = -0.8739746809005737
L0N0	 -> L1N1 = 1.2201192378997803
L0N1	 -> L1N0 = 0.8739748001098633
L0N1	 -> L1N1 = -1.2201192378997803
1B ->	 L2N0:-8.811766871730242e-10
L1N0	 -> L2N0 = 1.1441978216171265
L1N1	 -> L2N0 = 0.8195920586585999

Model her çalıştırıldığında farklı ağırlıklar elde edilir. Yani XOR problemini çözmenin farklı yolları vardır.   
<b>Aşağıda bu ağırlıklar kullanılarak elle nasıl hesaplama yapıalbileceği gösterilmiştir</b>

In [20]:
input0 = 0
input1 = 1

hidden0sum = (input0 * -0.87) + (input1 * 0.87) + (-9.16e-8)
hidden1sum = (input0 * 1.22) + (input1 * -1.22) + (-1.60e-8)
print(hidden0sum)
print(hidden1sum)

hidden0 = max(0, hidden0sum)
hidden1 = max(0, hidden1sum)
print(hidden0)
print(hidden1)

outputsum = (hidden0 * 1.14) + (hidden1 * 0.81) + (-8.81e-10)
print(outputsum)

output = outputsum

print(output)

0.8699999084
-1.220000016
0.8699999084
0
0.9917998946949999
0.9917998946949999

# Özellik Vektörlerinin (Feature Vector) Encode Edilmesi

Bu bölümde excel'den de aşina olunan tablo verileri ile işlemler yapmaya çalışılacaktır. Yapay sinir ağları sayısal veri kullanırlar. Bu sayısal from feature vector olarak adlandırılır. Her satır bir vektör haline gelir. Giriş nöronlarının her biri, bu vektörden bir feature yani sütun alır.

In [21]:
import pandas as pd

In [22]:
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 5)

In [23]:
df = pd.read_csv('https://data.heatonresearch.com/data/t81-558/jh-simple-dataset.csv', 
                na_values =[ 'NA', '?'])
df

        id job area  ...  retail_dense     crime  product
0        1  vv    c  ...      0.492126  0.071100        b
1        2  kd    c  ...      0.342520  0.400809        c
...    ...  ..  ...  ...           ...       ...      ...
1998  1999  qp    c  ...      0.598425  0.117803        c
1999  2000  pe    c  ...      0.539370  0.451973        c

[2000 rows x 14 columns]

In [24]:
pd.set_option('display.max_columns', 9)
pd.set_option('display.max_rows', 5)
df

        id job area   income  ...  pop_dense  retail_dense     crime  product
0        1  vv    c  50876.0  ...   0.885827      0.492126  0.071100        b
1        2  kd    c  60369.0  ...   0.874016      0.342520  0.400809        c
...    ...  ..  ...      ...  ...        ...           ...       ...      ...
1998  1999  qp    c  67949.0  ...   0.909449      0.598425  0.117803        c
1999  2000  pe    c  61467.0  ...   0.925197      0.539370  0.451973        c

[2000 rows x 14 columns]

In [25]:
df.columns

Index(['id', 'job', 'area', 'income', 'aspect', 'subscriptions',
       'dist_healthy', 'save_rate', 'dist_unhealthy', 'age', 'pop_dense',
       'retail_dense', 'crime', 'product'],
      dtype='object')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2000 non-null   int64
 1   job             2000 non-null   object
 2   area            2000 non-null   object
 3   income          1941 non-null   float64
 4   aspect          2000 non-null   float64
 5   subscriptions   2000 non-null   int64
 6   dist_healthy    2000 non-null   float64
 7   save_rate       2000 non-null   int64
 8   dist_unhealthy  2000 non-null   float64
 9   age             2000 non-null   int64
 10  pop_dense       2000 non-null   float64
 11  retail_dense    2000 non-null   float64
 12  crime           2000 non-null   float64
 13  product         2000 non-null   object
dtypes: float64(7), int64(4), object(3)
memory usage: 218.9+ KB

In [27]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,2000.0,1000.500000,577.494589,1.0,500.750000,1000.500000,1500.250000,2000.000000
income,1941.0,56924.861927,10188.938399,19846.0,51336.000000,58633.000000,64407.000000,88671.000000
...,...,...,...,...,...,...,...,...
retail_dense,2000.0,0.563258,0.152759,0.0,0.472441,0.562992,0.673228,0.972441
crime,2000.0,0.275939,0.182886,0.0,0.141712,0.241322,0.356615,0.977276

<li>Target Column yani hedef stüun tahmin edilmeye çalışılan sütundur. Bu veride hedef sütun olarak product sütunu kullanılacaktır. Yani kişinin hangi ürünü satın alacağı tahmin edilmeye çalışılacaktır</li>

<li>Varolan ID sütunu tahminelemede kullanılmayacağı için (çünkü yararlı bir bilgi içermemeketdir) silinecektir.</li>

<li>Sayısal olan alanlar üzerinde işlem yapmaya gerek olmayacaktır</li>

<li>income sütunu eksik değerler içermektedir</li>

<li>job, area ve product sürunları kategorik veri içermektedir</li>

In [28]:
df.job.unique()

array(['vv', 'kd', 'pe', '11', 'kl', 'e2', 'nb', 'al', 'de', 'dz', 'pz',
       'bf', 'f8', 'pq', 'qp', 'kp', 'am', 'po', 'nn', 'mm', 'kw', 'by',
       'rn', 'gj', 'ax', 'ob', 'qw', 'gv', 'ke', 'sa', 'ks', 'cv', 'zz'],
      dtype=object)

In [29]:
dummies = pd.get_dummies(df.job, prefix='job')
dummies.shape

(2000, 33)

In [31]:
dummies

      job_11  job_al  job_am  job_ax  ...  job_rn  job_sa  job_vv  job_zz
0          0       0       0       0  ...       0       0       1       0
1          0       0       0       0  ...       0       0       0       0
...      ...     ...     ...     ...  ...     ...     ...     ...     ...
1998       0       0       0       0  ...       0       0       0       0
1999       0       0       0       0  ...       0       0       0       0

[2000 rows x 33 columns]

33 farklı iş kodu olduğundan, 33 dummy variable vardır. Ayrıca bir prefix belirlenmiştir, çünkü iş kodları ("ax" gibi) kendi başlarına anlamlı değillerdir.</br>

Bundan sonra elde edilen dummy variabşe'lar orjinal veriye eklenmeli ve job alanı silinmelidir.

In [32]:
df = pd.concat([df, dummies], axis = 1)
df

        id job area   income  ...  job_rn  job_sa  job_vv  job_zz
0        1  vv    c  50876.0  ...       0       0       1       0
1        2  kd    c  60369.0  ...       0       0       0       0
...    ...  ..  ...      ...  ...     ...     ...     ...     ...
1998  1999  qp    c  67949.0  ...       0       0       0       0
1999  2000  pe    c  61467.0  ...       0       0       0       0

[2000 rows x 47 columns]

In [33]:
df.drop('job', axis=1, inplace=True)
df

        id area   income     aspect  ...  job_rn  job_sa  job_vv  job_zz
0        1    c  50876.0  13.100000  ...       0       0       1       0
1        2    c  60369.0  18.625000  ...       0       0       0       0
...    ...  ...      ...        ...  ...     ...     ...     ...     ...
1998  1999    c  67949.0   5.733333  ...       0       0       0       0
1999  2000    c  61467.0  16.891667  ...       0       0       0       0

[2000 rows x 46 columns]

In [34]:
df = pd.concat([df, pd.get_dummies(df.area, prefix='area')], axis=1)
df.drop('area', axis=1, inplace=True)

In [35]:
median = df.income.median()
df['income'] = df.income.fillna(median)

Eksik değerleri doldurmanın daha gelişmiş yolları vardır, ancak daha fazla analiz gerektirirler. Örneğin, alanların veya iş kategorilerinin her biri için bir medyan hesaplanabilir.

In [39]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,2000.0,1000.5000,577.494589,1.0,500.75,1000.5,1500.25,2000.0
income,2000.0,56975.2520,10041.612557,19846.0,51690.00,58633.0,64230.00,88671.0
...,...,...,...,...,...,...,...,...
area_c,2000.0,0.4155,0.492931,0.0,0.00,0.0,1.00,1.0
area_d,2000.0,0.0780,0.268239,0.0,0.00,0.0,0.00,1.0

In [36]:
df.columns

Index(['id', 'income', 'aspect', 'subscriptions', 'dist_healthy', 'save_rate',
       'dist_unhealthy', 'age', 'pop_dense', 'retail_dense', 'crime',
       'product', 'job_11', 'job_al', 'job_am', 'job_ax', 'job_bf', 'job_by',
       'job_cv', 'job_de', 'job_dz', 'job_e2', 'job_f8', 'job_gj', 'job_gv',
       'job_kd', 'job_ke', 'job_kl', 'job_kp', 'job_ks', 'job_kw', 'job_mm',
       'job_nb', 'job_nn', 'job_ob', 'job_pe', 'job_po', 'job_pq', 'job_pz',
       'job_qp', 'job_qw', 'job_rn', 'job_sa', 'job_vv', 'job_zz', 'area_a',
       'area_b', 'area_c', 'area_d'],
      dtype='object')

In [37]:
X_columns = df.columns.drop(['product', 'id'])

In [40]:
X_columns

Index(['income', 'aspect', 'subscriptions', 'dist_healthy', 'save_rate',
       'dist_unhealthy', 'age', 'pop_dense', 'retail_dense', 'crime', 'job_11',
       'job_al', 'job_am', 'job_ax', 'job_bf', 'job_by', 'job_cv', 'job_de',
       'job_dz', 'job_e2', 'job_f8', 'job_gj', 'job_gv', 'job_kd', 'job_ke',
       'job_kl', 'job_kp', 'job_ks', 'job_kw', 'job_mm', 'job_nb', 'job_nn',
       'job_ob', 'job_pe', 'job_po', 'job_pq', 'job_pz', 'job_qp', 'job_qw',
       'job_rn', 'job_sa', 'job_vv', 'job_zz', 'area_a', 'area_b', 'area_c',
       'area_d'],
      dtype='object')

In [41]:
X = df[X_columns].values
X

array([[5.08760000e+04, 1.31000000e+01, 1.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [6.03690000e+04, 1.86250000e+01, 2.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [5.51260000e+04, 3.47666667e+01, 1.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       ...,
       [2.85950000e+04, 3.94250000e+01, 3.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [6.79490000e+04, 5.73333333e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [6.14670000e+04, 1.68916667e+01, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00]])

In [48]:
dummies = pd.get_dummies(df['product'])
products = dummies.columns
y = dummies.values
dummies.columns

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

Sınıflandırma sinir ağları, (2'den fazla kategori olması durumunda) categorical_crossentropy ve çıktı katmanında bir softmax aktivasyon fonksiyonu kullanmalıdır.

In [43]:
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

In [45]:
model = Sequential()
model.add(Dense(100, input_dim=X.shape[1], activation='relu', kernel_initializer='random_normal'))
model.add(Dense(50, activation='relu', kernel_initializer='random_normal'))
model.add(Dense(25, activation='relu', kernel_initializer='random_normal'))
model.add(Dense(y.shape[1], activation='softmax', kernel_initializer='random_normal'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, patience=5, verbose=1, 
                       mode='auto', restore_best_weights=True)
model.fit(X_train, y_train, validation_data=(X_test, y_test), callbacks=[monitor], verbose=2,
         epochs=1000)

Epoch 1/1000
50/50 - 1s - loss: 5.5095 - accuracy: 0.3744 - val_loss: 1.5589 - val_accuracy: 0.5075
Epoch 2/1000
50/50 - 1s - loss: 1.3471 - accuracy: 0.4575 - val_loss: 1.2543 - val_accuracy: 0.4050
Epoch 3/1000
50/50 - 1s - loss: 1.2792 - accuracy: 0.4300 - val_loss: 1.3974 - val_accuracy: 0.4850
Epoch 4/1000
50/50 - 1s - loss: 1.2737 - accuracy: 0.4331 - val_loss: 1.2012 - val_accuracy: 0.3850
Epoch 5/1000
50/50 - 1s - loss: 1.2258 - accuracy: 0.4544 - val_loss: 1.1733 - val_accuracy: 0.5525
Epoch 6/1000
50/50 - 1s - loss: 1.2793 - accuracy: 0.4556 - val_loss: 1.1563 - val_accuracy: 0.4850
Epoch 7/1000
50/50 - 1s - loss: 1.3023 - accuracy: 0.4313 - val_loss: 1.1663 - val_accuracy: 0.4850
Epoch 8/1000
50/50 - 1s - loss: 1.2838 - accuracy: 0.4363 - val_loss: 1.1506 - val_accuracy: 0.6200
Epoch 9/1000
50/50 - 1s - loss: 1.2054 - accuracy: 0.4487 - val_loss: 1.3056 - val_accuracy: 0.3850
Epoch 10/1000
50/50 - 1s - loss: 1.2007 - accuracy: 0.4544 - val_loss: 1.1309 - val_accuracy: 0.4850
Epoch 11/1000
50/50 - 1s - loss: 1.2829 - accuracy: 0.4112 - val_loss: 1.1712 - val_accuracy: 0.4850
Epoch 12/1000
50/50 - 1s - loss: 1.2042 - accuracy: 0.4437 - val_loss: 1.1170 - val_accuracy: 0.4850
Epoch 13/1000
50/50 - 1s - loss: 1.2127 - accuracy: 0.4481 - val_loss: 1.1240 - val_accuracy: 0.4850
Epoch 14/1000
50/50 - 1s - loss: 1.1978 - accuracy: 0.4431 - val_loss: 1.1335 - val_accuracy: 0.4850
Epoch 15/1000
50/50 - 1s - loss: 1.1710 - accuracy: 0.4512 - val_loss: 1.1366 - val_accuracy: 0.3850
Epoch 16/1000
50/50 - 1s - loss: 1.1950 - accuracy: 0.4506 - val_loss: 1.1524 - val_accuracy: 0.4850
Epoch 17/1000
Restoring model weights from the end of the best epoch.
50/50 - 1s - loss: 1.1756 - accuracy: 0.4663 - val_loss: 1.1388 - val_accuracy: 0.4850
Epoch 00017: early stopping

In [46]:
prediction = model.predict(X_test)
prediction = np.argmax(prediction, axis=1)

In [47]:
from sklearn.metrics import accuracy_score

accuracy_score(np.argmax(y_test, axis=1), prediction)

0.485